  
@font-face {
  font-family: 'Switzer-Medium';
  src: url('../../../../public/fonts/Switzer/Switzer-Medium.woff2') format('woff2'),
       url('../../../../public/fonts/Switzer/Switzer-Medium.woff') format('woff'),
       url('../../../../public/fonts/Switzer/Switzer-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
  
  
@font-face {
  font-family: 'Tan-Pearl';
  src: url('../../../../public/fonts/Tan-Pearl/TAN-PEARL.woff2') format('woff2'),
       url('../../../../public/fonts/Tan-Pearl/TAN-PEARL.woff') format('woff'),
       url('../../../../public/fonts/Tan-Pearl/TAN-PEARL.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
  
  