.emi-loader{
    width: 100vw;
    height: 100vh;
    background-color: #060606DA;
    backdrop-filter: blur(70px);
    position: absolute;
    left: 0;
    z-index: 100;
    .cache  {
        position: absolute;
        background-color: #060606DA;
        backdrop-filter: blur(70px);
        width: 100%;
        height: 50%;
        top: -50%;
    }
    &>span{
        display: block;
        position: absolute;
        width: 35px;
        height: 35px;
        font-family: "Tan-Pearl";
        border: solid 1px #fff;
        border-radius: 50%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        overflow: hidden;
        margin-top: 64px;
        margin-left: 80px;
        div{
            position: absolute;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            left: 50%;
            transition: 2.5s cubic-bezier(.69,0,.16,.99);
            transform: translate(-50%, 0%);
            text-align: center;
            height: 350px;
            span{
                display: block;
            }

        }
    }
    .title_button_container, p{
        max-width: 90%;
        position: absolute;
        left: 50%;
    }
    .title_button_container{
        width: 815px;
        transform: translate(-50%, -50%);
        top: 50%;
        text-align: center;
        h1{
            transform: translateY(-50px);
        }
        button{
            margin-top: 10px;
            padding: 12px 32px;
            border-radius: 64px;
            background-color: transparent;
            border: solid white 1px;
            color: white;

        }
    }
    p{
        bottom: 5%;
        text-align: center;
       transform: translate(-50%, -50%);
        font-family: "Switzer-Regular";
        font-size: 20px;
    }
    a{
        color: #fff;   
        text-decoration: underline;
        &:visited{
            color: #fff;   

        }
    }
}