@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.emi-index-main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .scroll-container{
        display: flex;  
        position: relative;
        width: fit-content;
    } 
}