---

import "../../../assets/styles/components/atoms/bubble.scss"
const { type, text } = Astro.props

---
{
    type==='button' ? 
    <button class={"emi-bubble button " + text.split(" ").join("")}>{ text }</button>
    :
    <span class="emi-bubble">{ text }</span>

}