.menuIcon {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 100;
    background-color: transparent;
    padding: 0;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: block;
    border:none;
    cursor: pointer;
}