---
import Layout from '../components/layouts/Layout.astro';
import Intro from '../components/sections/Intro.astro';
import Sea from '../components/sections/Sea.jsx';
import Forest from '../components/sections/Forest.astro';
import Cavern from '../components/sections/Cavern.astro';
import Transition from '../components/sections/Transition.astro';
import End from '../components/sections/End.astro';
import "../assets/styles/pages/index.scss"
import InstrumentModale from '../components/molecules/InstrumentModale';
import Loader from '../components/layouts/Loader';
import Particle from '../components/atoms/particle/particle';
import mp3 from "../../public/In_A_World_Of_Natural_Wonder.mp3"
import SoundIcon from "../components/atoms/SoundIcon"
---

<Layout 
	title="Madame Guitare" 
	description="Je suis Madame Guitare fais de l’éveil musicale en crèche sur le secteur de Nancy et je t’invite à venir visiter mon univers et découvrir mon histoire."
	isHorizontal={true}
>
	<main class="emi-index-main">
		<div class="scroll-container">
			<SoundIcon client:only/>
			<Loader client:load/>
			<Particle client:load/>
			<InstrumentModale client:load />
			<Intro/>
			<Transition titre="La Forêt"/>
			<Forest />
			<Transition titre="Le Lac"/>
			<Sea client:load/>
			<Transition titre="La Caverne"/>
			<Cavern />
			<End />
		</div>
	</main>
	<script>
		document.querySelector("audio").volume = 0.3
	</script>
</Layout>
