---
import Layout from '../components/layouts/Layout.astro';
import Picture from "../components/atoms/Picture/Picture";

const bgJPG = "/images/contact/contact.jpg"
const bgWEBP = "/images/contact/contact.webp"

import "../assets/styles/pages/me-contacter.scss"
import Form from "../components/molecules/Form"

---

<Layout 
	title="Madame Guitare" 
	description="Vous souhaitez me conter ? Je me ferais un plaisir de vous répondre et d'organiser une rencontre !"
	isHorizontal={false}
>
	<main class="emi-index-main">
		<div class="scroll-container">
			<main>
				<Picture refClass="background" images={[bgJPG, bgJPG, bgWEBP, bgWEBP]} alt="background" />
				<Form client:load/>
			</main>

		</div>
	</main>
</Layout>