@import "../../utils/mixins";
@import "../../utils/variables";

.emi-bubble, button.emi-bubble{
    color: #fff;
    border: none;

    display: block;
    position: absolute;
    background-color: #00000088;
    &.button{
        @include interpolate(
            line-height,
            map-get($breakpoints, "tablet"),
            map-get($breakpoints, "desktop"),
            24px,
            32px,
    
        );
        top: 32px;
        width: fit-content;
        box-shadow: inset 0px 10px 24px rgba(255, 255, 255, 0.25);
        transition: 0.2s;
        &:active{
            box-shadow: inset 4px 8px 14px rgba(0, 0, 0, 0.2);
            transition: 0.2s
        }
    }
    @include interpolate(
        top,
        map-get($breakpoints, "tablet"),
        map-get($breakpoints, "desktop"),
        24px,
        133px,
    );
    z-index: 10;

    @include interpolate(
        padding-top,
        map-get($breakpoints, "tablet"),
        map-get($breakpoints, "desktop"),
        12px,
        24px,
    );
    @include interpolate(
        padding-bottom,
        map-get($breakpoints, "tablet"),
        map-get($breakpoints, "desktop"),
        12px,
        24px,
    );
    @include interpolate(
        padding-left,
        map-get($breakpoints, "tablet"),
        map-get($breakpoints, "desktop"),
        12px,
        64px,
    );
    @include interpolate(
        padding-right,
        map-get($breakpoints, "tablet"),
        map-get($breakpoints, "desktop"),
        12px,
        64px,
    );



    @include interpolate(
        font-size,
        map-get($breakpoints, "tablet"),
        map-get($breakpoints, "desktop"),
        14px,
        32px,

    );
    @include interpolate(
        line-height,
        map-get($breakpoints, "tablet"),
        map-get($breakpoints, "desktop"),
        24px,
        44px,

    );

    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 150px;
    max-width: 80vw;
    width: 80vw;
}